.homeClass{
    background-image: linear-gradient(to right, rgb(124, 129, 129) , rgb(65, 112, 112));
    color: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    flex-direction: column;
}